### 풀이 영상: https://youtu.be/QpNufh_ZV7A?t=181

# Q. 결측치가 제일 큰 값의 컬럼명을 구하시오
- data: t1-data1.csv

In [1]:
import pandas as pd
df = pd.read_csv("../input/big-data-analytics-certification/t1-data1.csv")
df.head()

     id   age city    f1  f2    f4         f5
0  id01   2.0   서울   NaN   0  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  INFP  52.667078
4  id05  24.0   서울  85.0   2  ISFJ  29.269869

# Your Code

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      90 non-null     object
 1   age     90 non-null     float64
 2   city    90 non-null     object
 3   f1      61 non-null     float64
 4   f2      90 non-null     int64
 5   f4      90 non-null     object
 6   f5      90 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 5.0+ KB

In [5]:
df_2 = pd.DataFrame(df.isnull().sum(), columns = ['cnt_null'])
df_2

      cnt_null
id           0
age          0
city         0
f1          29
f2           0
f4           0
f5           0

In [7]:
df_2.sort_values(by=['cnt_null'] ,ascending = False)

      cnt_null
f1          29
id           0
age          0
city         0
f2           0
f4           0
f5           0

In [11]:
df_2 == df_2.max()

      cnt_null
f1        True
id       False
age      False
city     False
f2       False
f4       False
f5       False

In [14]:
df_2 = df_2.sort_values(by=['cnt_null'] ,ascending = False)
df_2.index[0]

'f1'

# solution

In [ ]:
import pandas as pd
df = pd.read_csv("../input/big-data-analytics-certification/t1-data1.csv")

df = pd.DataFrame(df.isnull().sum(), columns=['cnt_null'])
df = df['cnt_null'].sort_values(ascending=False)
print(df.index[0])

In [ ]:
# 풀이2
df = pd.read_csv("../input/big-data-analytics-certification/t1-data1.csv")
df = df.isnull().sum()
print(df.index[3])